<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      <pages>
        <controls>
          <add src="~/WebUserControl/WebUserControl.ascx" tagName="WebUserControl" tagPrefix="uc1"/>
        </controls>
      </pages>
      
    <authentication mode="Forms">
      </authentication>
        <authorization>
        <deny users="?"/>
      </authorization>
      
    </system.web>

  <connectionStrings>
    <add name="Soccer" connectionString="Data Source=HARSH-ASUS;Initial Catalog=Soccer;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=HARSH-ASUS;Initial Catalog=Soccer;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!--Data Source=HARSH-ASUS;Initial Catalog=Soccer;Integrated Security=True-->
    
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
